    /* Estilos generales */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      color: white;
      padding: 10px 20px;
      text-align: center;
    }

    .navbar {
      display: flex;
      justify-content: space-around;
      background-color: #444;
      padding: 10px 0;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-btn {
      color: white;
      background-color: #444;
      padding: 10px;
      cursor: pointer;
      border: none;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      min-width: 160px;
      z-index: 1;
    }

    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #575757;
    }

    .sub-dropdown-content {
      display: none;
      background-color: #222;
    }

    .sub-dropdown-content a {
      padding: 10px 16px;
    }

    .show {
      display: block !important;
    }

    /* Estilos del menú hamburguesa */
    #mobile-menu {
      display: none;
      font-size: 30px;
      color: white;
      cursor: pointer;
      padding: 10px;
    }

    /* Estilos para el menú de navegación en móviles */
    @media screen and (max-width: 768px) {
      /* Ocultar el menú por defecto */
      .navbar {
        flex-direction: column;
        display: none; /* Ocultamos el menú por defecto */
        width: 100%;
        background-color: #444;
        padding: 10px 0;
      }

      .dropdown-btn {
        width: 100%;
        text-align: center;
        padding: 15px;
      }

      .dropdown-content, .sub-dropdown-content {
        position: static;
        width: 100%;
      }

      /* Mostrar el menú cuando se activa */
      .navbar.active {
        display: block;
      }

      /* Mostrar el ícono hamburguesa */
      #mobile-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }