/*Selectores de elemento*/
h1{
    color: #3498db;
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 18px;
    color: #2c3e50;
    line-height: 1.8;
}

/*Selectores de clase*/
.destacado{
    color: #e74c3c;
    font-weight: bold;
}

.enlace-btn{
    color: #ffffff;
    background-color: #27ae60;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/*Selectores de ID*/
#main-header{
    background-color: #34495e;
    padding: 20px;
    color: white;
    text-align: center;
}

#footer{
    background-color: #ecf0f1;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/*Selectores de atributo*/
a[href="tutorial"]{
    color: #f39c12;
}

a[href$=".pdf"]{
    font-style: italic;
    color: #9b59b6;
}

/*Selecores de hover*/

a:hover{
    color: #e74c3c;
    text-decoration: underline;
}
.enlace-btn:hover{
    background-color: #16a085;
}

/*Selectores de descendientes*/
#main-header p {
    font-size: 16px;
    color: #ecf0f1;
}
/*Selectores de hijo*/
#footer > p {
    color: #7f8c8d;
}