p{
    text-align: justify;
    font-size: 15px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h2{
    color: red;
}
h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
p:hover{
    margin: 0px;
    padding: 0px;
}